#SignUpSideBar{
    box-sizing: border-box;
    height: 100%;
    width: 26%;
    max-width: 400px;

    background: linear-gradient(191.49deg, #014421 -16.96%, #000000 117.84%);
    border: 2px solid #F9A800;
    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#SideBarLogo{
    width: 268px;
    height: 268px;
    padding: 34px;
}

#SideBarImage{
    width: 350px;
    height: 350px;
    padding: 30px;
}