#addFriendInputForm{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    justify-content: space-around;
}

#textInput {
    box-sizing: border-box;

    width: 550px;
    height: 38px;

    background: #D9D9D9;
    border: 1px solid #014421;
    border-radius: 10px;
}

#buttonInput{
    box-sizing: border-box;


    width: 50px;
    height: 38px;

    background: #D9D9D9;
    border: 1px solid #014421;
    border-radius: 10px;

}

#speakToUser{
    width: 100%;
}