.friendObjClass{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 95px;

    background:#F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 20px;

    margin: 10px;
}

#profileImage{
    height: 72px;
    width: 72px;
    padding: 0;
    margin:0;
}

.imgClass{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPortion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
}

.namingPortion{
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#displayNameFriend{
    width: 143.1px;
    height: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;

    color: #014421;
    padding-left: 4px;


}

.acceptButton{
    border-radius: 2px;
    border: 1px #014421;
    margin: 2px;
    background-color: #014421;
    color: white;
}
#usernameFriend{
    /* @username#9999 */
    width: 122px;
    height: 17px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    padding-top: 8px;
    color: #00853F;
}

.morePortion{
    display: flex;
    align-items: center;
}
#moreImage{
    height: 22px;
    width: 22px;
}