#FriendObj{
    padding-top: 10px;
    max-width: 670px;

}



#friendsTextInput{
    box-sizing: border-box;


    width: 643px;
    height: 38px;

    background: #D9D9D9;
    border: 1px solid #014421;
    border-radius: 20px;
}
