html{
    height:100%;
    padding: 0;
    margin:0;
}
#root{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
}
body{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
}

#Profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

#sideBar{
    width: 10%;
    height: 100%;
}

#profileMiddle{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#innerProfileMiddle{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}
#profileEnd{
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: space-around;

}