

.sideBarClass{
    background-color: #014421;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 155px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0px 30px 30px 0px;
}

.sideBarButtonClass{
    background-color: #F9A800;
    border-radius: 15px;
    border: 0px;
    width: 66px;
    height: 66px;
}

.sideBarButtonClassInner{
    max-width: 53px;
    max-height: 54px;
}
#sideBarButtons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 40%;
    padding-bottom: 40%;
    height:80%;
    max-height: 400px;
}

#treadLogoSideBar{
    padding: 23px;
}