#SuggestedFriendsDiv{
    width: 322px;
    height: 700px;

    background: #014421;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#SuggestedFriendsTitle{
    width: 100%;
    height: 66px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #F9A800;
    padding-top: 14px;
    margin: 0;
}