.bar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
}

.selectButtonHeader{
    display: flex;
    flex-direction: row;

    align-items: center;
}
