.Form {
    width: 90%;
    padding-top : 15px;
    padding-bottom : 15px;
}

.formObj{
    padding-top: 10px;
    padding-bottom: 10px;;
}

.formObjInner{
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.formSelect{

}

.formTextInput{

    box-sizing: border-box;

    width: 384px;
    height: 40px;

    background-color: transparent;
    border: 1px solid #F9A800;
    border-radius: 15px;
}

.errorBox{
    color: red;
}