html{
    height:100%;
    padding: 0;
    margin:0;
}
#root{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
    overflow: none;
}

.Body3Part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #F1EEEA;

    width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}

.leftSide3Part{
    width: 155px;
    height: 100%;
}

.rightSide3Part{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 1000px;
    overflow-y:scroll;
}

.rightPadding{
    width: 150px;
}

.centerInfo{
    width: 1000px;
}

.sidePart{
    align-self: center;
}

@media(max-width: 1700px){
    .rightPadding{
        display:none;
    }
    .sidePart{
        display: none;
    }
}