#PageSwitch{
    display: flex;
    flex-direction: row;



}

.switchButton{
    border-style:none;

    box-sizing: border-box;

    height: 50px;
    width: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background:#014421;
    border-radius: 20px;
    margin-left: 20px;
}

.switchButtonText{


    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;

}
