#PageSwitch{
    display: flex;
    flex-direction: row;



}

.offButton{
    background-color: #014421;
    opacity: 0.7;
}

.onButton{
    background-color: #014421;
    opacity: 1;
}

.switchButton{
    border-style:none;

    box-sizing: border-box;

    height: 50px;
    width: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin-left: 20px;
}

.switchButtonText{
    font-family: '?????';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
