html{
    height:100%;
    padding: 0;
    margin:0;
}
#root{
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
}

.Body2Part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin:0px;
    background-color: #F1EEEA;
}

.leftSide2Part{
    width:10%;
    height: 100%;
}

.rightSide2Part{
    width:90%;
    height: 100%;
    background-color: transparent;
}