

.photoShow{
    box-sizing: border-box;

    width: 143px;
    height: 143px;

    background: #F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 3px;
    margin-top:3px;
}

.uploadPhoto{
    padding: 3px;
}
.loadedProfileImage{
    max-width: 140px;
    max-height: 140px;
}