

.pictureHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pictureHeaderLeft{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pictureHolderDiv{
    box-sizing: border-box;

    width: 160px;
    height: 160px;

    background: #D9D9D9;
    border: 1px solid #F9A800;
    border-radius: 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.picture{
    width: 120px;
    height: 120px;
}

.pictureHeaderMiddle{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.pictureHeaderText{
    color: #014421;
    padding: 2px;
    font-size:large;
    margin: 0;
}

.qrcodeImage{
    width: 160px;
    height: 160px;

    background: #D9D9D9;
    border: 1px solid #F9A800;
    border-radius: 20px;
}