.sideBarClass{
    background-color: #014421;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 155px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0px 30px 30px 0px;
    background: radial-gradient(100% 95% at 40% 40%, #014421 0%, #000000 100%);
}

.sideBarButtonClass{
    background-color: #F9A800;
    border-radius: 15px;
    border: 0px;
    width: 66px;
    height: 66px;
}

.sideBarButtonClassInner{
    max-width: 53px;
    max-height: 54px;
}

#sideBarButtons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 40%;
    padding-bottom: 40%;
    height:80%;
    max-height: 400px;
}

#treadLogoSideBar{
    padding: 23px;
}

#sideBarTreadLogo{
    background-color: transparent;
    border: 0px;
}

.sideBarText{
    color:#F9A800;
    font-size: large;
    margin: 3px;
}

.sideBarButtonSet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}