#SuggestionBox{
    width: 322px;
    height: 700px;

    background: #014421;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.SuggestionBoxTitle{
    width: 100%;
    height: 66px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #F9A800;
    padding-top: 14px;
    margin: 0;
}

.suggestionObj{
    width: 265px;
    height: 78px;

    padding-top:10px;
    padding-bottom: 10px;

    display: flex;
    flex-wrap: nowrap;
}

.suggestionWritingSection{
    padding-left: 10px;

    display: flex;
    flex-direction: column;

}

.suggestionHeaderStyle{
    width: 194.01px;
    height: 28.14px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

    color: #F9A800;
    padding: 0;
    margin:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.suggestionTextStyle{
    width: 194px;
    height: 28px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

    color: #FFDF9E;
    padding: 0;
    margin:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.suggestionImage{
    width: 78px;
    height: 78px;
}

#MedalsWritingSection{
    align-items: center;
    justify-content: center;
}