#UserSettingButtonProfileImage{
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 10px;
}

#UserSettingsButton{
    width: 320px;
    height: 73px;

    background: #014421;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 0px;
    display: flex;
    align-items: center;
    background: radial-gradient(100% 95% at 40% 40%, #014421 0%, #000000 100%);
}
#userSettingNaming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userSettingDisplayName{
    width: 150px;
    height: 28.14px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

    color: #F9A800;
    padding-top: 10;
    margin:0;
}

#userSettingUsername{
    width: 150px;
    height: 28.14px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-top:7;
    margin:0;

    color: #FFDF9E;
}

#userSettingButtonSection{
    width: 83px;
    height: 100%;
    margin: 0;
}

#buttonUserDropDown{
    position: relative;
    left: 30px;
    top: 25px;
}
.dropDownButton{
    background-color: transparent;
    border:0px;
    z-index: 0;
}

#UserSettingsLeft{
    display: flex;
    flex-direction: row;
    border: 0;
    background-color: transparent;
    align-items: center;
}

.userSettingsDropDown{
    position:relative;
    top: 25px;
    z-index: 2;
    overflow: visible;
}