#LeagueMemberList{
    box-sizing: border-box;

    width: 820px;

    background: #D9D9D9;
    border: 1px solid #F9A800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leagueMemberHeader{
    width: 80%;
    display: flex;
    flex-direction: column;


}
.memberEntry{
    width: 780px;
    height: 80px;
    background-color: transparent;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.memberEntryLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
}

.memberEntryRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
}

.memberLine{
    border: 1px solid #014421;
}

.memberPicture{
    height: 42px;
    width: 42px;
}

.memberNames{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.memberEntryText{
    padding: 5px 0px 5px 20px;
    margin: 0px;
    text-align: left;
}