#AddExerciseBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    background: #F1EEEA;
    border: 3px solid #014421;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-bottom : 40px;
    margin-top: 30px;
}

#AddExerciseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.formButton{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#AddExerciseFormBox {
    width: 90%;
}