#issuedImage{
    height: 42px;
    width: 42px;
    padding: 10px;
}



#issuedInformationSide{
    display: flex;
    flex: row;
    justify-content: flex-end;
    width: 100%;
}

#issuedProgressBar{
    display: flex;
    flex-direction: column;
    width: 80%;
}