#FriendObj{
    box-sizing: border-box;

    width: 300px;
    height: 95px;

    background: #F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.friendProfilePhoto{
    width: 66px;
    height: 66px;
}

.friendObjSection{
    margin: 10px;
}

.friendObjDisplayName{
    width: 143.1px;
    height: 17.36px;

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #014421;
}

.friendObjUsername{
    width: 126px;
    height: 16px;

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */


    color: #00853F;
}

.friendObjButton{
    border-style:none;
}