.displayObj{
    box-sizing: border-box;

    width: 450px;
    height: 95px;

    background: #F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin: 10px;
}

.objProfilePhoto{
    width: 66px;
    height: 66px;
    border-radius: 10px;
}

.objSection{
    margin: 5px;
}

.objDisplayName{

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    color: #014421;

    padding: 0;
    margin: 0;
}

.objUsername{

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height */

    padding: 0;
    margin: 0;

    color: #014421;
}

.objButton{
    border-style:none;
}

.objWritingSection{
    width: 300px;
}

.objButtonSection{
    width: 35px;
    height: 100%;
}

.objButtonMore{
    position: relative;
    left:0px;
    top: 25px;
}

.objDropdown{
    position: relative;
    top: 20px;
}

.objWritingLeagueSection:hover{
    text-decoration: underline;
    cursor: pointer;
}

.objSectionLeague:hover{
    cursor: pointer;
}