#AddChallengeButton{
    /* Ellipse 1 */


box-sizing: border-box;

width: 41px;
height: 41px;

background: #014421;
border: 1px solid #F9A800;
border-radius: 21px;


}

#icon{
    width: 20px;
    height: 20px;
}