#issuedImage{
    height: 42px;
    width: 42px;
    padding: 10px;
}

#issuedLine{
    width: 74px;
    height: 0px;

    border: 2px solid #014421;
    transform: rotate(90deg);
}

#issuedInformationSide{
    display: flex;
    flex: row;
    justify-content: flex-end;
    width: 100%;
}

#issuedProgressBar{
    display: flex;
    flex-direction: column;
    width: 80%;
}