#Challenge{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#SideBar{
    width: 10%;
}

#ChallengeForm{
    height: 100%;
    width: 90%;
    padding-left: 30px;
}