#CurrentSwitch{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;
}

.switchButton{
    box-sizing: border-box;

    width: 90px;
    height: 128px;

    border: 1px solid #F9A800;



    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F9A800;
}

#currentButton{


    background: #00853F;

    border-radius: 50px 0px 0px 0px;
}

#weeklyButton{
    background: #014421;
    border-radius: 0px 0px 0px 50px;
}