.dropdownTry{
    position: relative;
    left: 5px;
    top: 5px;
    z-index:2;
    height: 40px;
    background-color: rgba(0,0,0,0.5);

}
#testID{
    display: flex;
    flex-direction: column;
}
.dropdownElement{
    list-style-type:none;
    position: relative;
    width: 170px;
    height: 51px;
}
.topLine{
    border: 1px solid #014421;
}

.dropdownElement:hover{
    cursor: pointer;
}