html{
    height:100%;
    padding: 0;
    margin:0;
}
body{
    height:100%;
    padding: 0;
    margin:0;
}

.loginPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.loginSide{
    background-color: white;
    width: 20%;
    height: 100%;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginBox{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBoxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.backgroundSide{
    background: radial-gradient(71.63% 88.13% at 21.02% 20.79%, #014421 0%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

#treadLogo{
    width: 207px;
    height: 207px;
}

#loginText{
    width: 145px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #014421;
}

.titleBox{
    position:relative;
    left: 10%;
    top: 10%;
    width: 100px;
}


#TreadSubtitle{
    padding-top: 2%;
}

.SignInButton{
    box-sizing: border-box;
    width: 309px;
    height: 56px;
    margin:5px;
    background:transparent;
    border: 1px solid #F9A800;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.SignInButtonInner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonNames{
    width: 136px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;

    color: #000000;
    padding-left: 5px;
}


.imgDiv{
    width:45px;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weightLiftPhoto{
    position: relative;
    left: 100px;
    top: 150px;
}