h1{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    color: #014421;
    padding: 0;
    margin:0;
}



h2{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: left;

    padding: 0;
    margin:0;

    color: #014421;
}

.signUpSectionTitle{
    width: 100%;
    height: 27px;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    padding:0px;
    margin:0px;
    color: #000000;
}

.signUpSectionDescription{
    width: 100%;

    font-weight: 400;
    font-size: 20px;

    color: #000000;
    padding-top:3px;
    padding-bottom:3px;
    margin: 0px;
}

.signUpTextInput{
    box-sizing: border-box;

    width: 384px;
    height: 48px;

    background: #F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 15px;
    padding:3px;
    padding-left: 15px;
}

.challengeForm{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.selectBar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: space-between;
    gap: 10px;
}

.sectionBarTitle{

    width: 385px;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: left;

    color: #014421;
    padding: 0;
    margin: 0;
}

.sectionBar{
    display: flex;
    align-items: flex-end;
}

.challengeBox{
    box-sizing: border-box;

    width: 955px;
    height: 96px;

    background: #F1EEEA;
    border: 3px solid #014421;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    margin: 20px;
}

.longChallengeBox{
    box-sizing: border-box;

    width: 955px;
    height: 300px;

    background: #F1EEEA;
    border: 3px solid #014421;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    margin: 20px;
}
.issuedLine{
    width: 74px;
    height: 0px;

    border: 2px solid #014421;
    transform: rotate(90deg);
}

.ProfileButton{
    box-sizing: border-box;

    width: 116px;
    height: 34px;

    background: #014421;
    border: 1px solid #F9A800;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfileButtonText{
    width: 141px;
    height: 27px;


    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    color: #F9A800;
}

.DeleteButton{

    box-sizing: border-box;


    width: 107px;
    height: 38px;


    background: #B90A0A;
    border: 1px solid #000000;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.DeleteButtonText{
    /* Delete */
    width: 67px;
    height: 24px;
    max-width: 100%;
    max-height: 100%;

    font-family:'?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;


    color: #F1EEEA;
}