#MedalObj{
    box-sizing: border-box;

    height: 95px;

    background: #F1EEEA;
    border: 1px solid #F9A800;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.medalLeft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.medalsItem{
    padding-left: 10px;
    padding-right: 10px;
}

.medalsText{

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;


    color: #000000;
}