#ProfileHeader{
    width: 80%;
}

.headerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#profileInformationSide{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#profilePhoto{
    height: 180px;
    width: 180px;
}

.profileBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}