.profileHeaderClass{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
    height: 250px;

}

#profileName{
    width: 226px;
    height: 66px;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    color: #014421;

    padding:0;
    margin:0;
}


#profilePhoto{
    width: 180px;
    height: 180px;
    padding:0;
    margin:0;
    border-radius: 25px;
    border:5px solid #014421;
}

.displaySection{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:0;
    margin:0;
}

#displayName{
    width: 250px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: left;

    color: #014421;
    padding-top:90px;
    margin:0;
}

#displayUsername{
    width: 194.01px;
    height: 28.14px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: left;

    color: #00853F;
    padding-top:25px;
    margin:0;

}

.displayUserInfo{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top:10px;
    margin:0;
}

.numberInfo{
    width: 100px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

    color: #000000;
    padding:0;
    margin:0;

}