#profileHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#profileHeaderLeft{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profilePicture{
    width: 120px;
    height: 120px;
}

.profilePictureDiv{
    box-sizing: border-box;

    min-width: 160px;
    width: 160px;
    height: 160px;

    background: #D9D9D9;
    border: 1px solid #F9A800;
    border-radius: 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.profileDescription{
    padding-left: 20px;
    width: 100%;
    padding-right: 20px;
}

#profileTopLine{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.qrcodeImage{
    width: 160px;
    height: 160px;

    background: #D9D9D9;
    border: 1px solid #F9A800;
    border-radius: 20px;
}