#SignUpForm{
    width: 74%;
    margin-left: 35px;
    margin-top: 20px;
}

#title{
    width: 266px;

    font-weight: 400;
    font-size: 96px;

    color: #F9A800;
    padding: 0;
    margin: 0;

}

#subtitle{
    /* Looks like you’re new here */
    width: 408px;
    height: 56px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    padding-top: 10;
    margin: 0;

    color: #000000;
}
